


@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Regular.ttf) format('ttf');
    font-weight: 400;
    
}

@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Bold.ttf) format('ttf');
    font-weight: 700;
    
}






* {
    margin: 0;
    padding: 0;
}


body {
    width: 320px;
    font-family: TT Lakes;
    font-weight: 400;
    font-size: 16px;

}



   header {
    display: flex;
    padding: 15px;
    max-height: 88px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gainsboro;

}


button {
    background: white;
    outline: none;
    border: none;
    padding: 10p;
    border: 1px solid gainsboro;
    
}

 


.divider {
position: absolute;
 background-color:aqua;
 width: 10px;
 height: 40px;
 margin-left: -5px;
 border-radius: 5px;

}

    .Subtitle {
    display: block;
    position: relative;
    align-items: center;
    padding-bottom: 30px;
}

.best-button {
   
    height: 40px;

}

.menu {
    padding: 20px;
}


.menu-list {
display: flex;
flex-direction: column;
gap: 20px;
}


.menu__item {
   
    border: none;
    background: none;
    font-size: 16px;
    text-align: left;
    border: 1px solid gainsboro;
    padding: 10px;
    border-radius: 5px;
    

    
}


footer {
    display: flex;
    flex-direction: column;
    border: 1px solid salmon;
    gap: 30px;

}

.footer__phone {
    font-family: TT Lakes;
    color: black;
    font-size: 22px;
    font-weight: 700;
}

.footer__mail {
    color: black;
    font-weight: 400;
    font-size: 22px;
}

.footer__lang-btn {
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
