




@font-face {
    font-family: "TT Lakes";
    src: url(fonts/TTLakes-Regular.woff) format('woff');
    font-weight: 400;
   
    
}


@font-face {
    font-family: "TT Lakes";
    src: url(fonts/TTLakes-Medium.woff) format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "TT Lakes";
    src: url(fonts/TTLakes-Bold.woff) format('woff');
    font-weight: 700;
    
}
 

* {
    margin: 0;
    padding: 0;
}


body {

width: 320px;
font-family: TT Lakes;
box-shadow: 5px 5px 10px rgba(126, 126, 130, 1);

}




header {
display: flex;
padding: 10px;
align-items: center;
padding: 15px;
justify-content: space-between;

}



.header__button {
background-color: white;
border: none;


}



.header__logo {

background-color: white;
border: none;

}






.menu__list {

display: flex;
flex-direction: column;
gap: 20px;
max-width: 235px;
padding-bottom: 20px;

}


.menu__title {
border: none;
align-items: center;
font-weight: 700;


}




.first-title {
    display: flex;
    width: 235px;
    border-radius: 5px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: rgba(126, 126, 130, 1);
    
}
    

   .divider {
    position: relative;
    width: 10px;
    height: 40px;
    background-color: aqua;
    border-radius: 15px;
    left: -5px;
   
}

.menu__item{

border:none;
background: none;
font-size: 16px;
text-align:left;
padding: 10px;
border-radius: 5px;
align-items: flex-start;
color: rgba(27, 28, 33, 1);
font-weight: 500;

}

.menu__item {
    border: 2px solid transparent;
    padding: 10px;
}

.menu__item:hover {
    border: 2px solid aqua;
    
}

.second-menu {
display: flex;
flex-direction: column;
gap: 20px;

}







.footer {
padding: 20px;


}



.footer__buttons{

display:flex;
gap: 20px;  

}


.footer__lang-btn:hover {
    border: none;
    color: rgba(126, 126, 130, 1);
}


.footer__button {
background-color: white;
border: none;

}








.footer__mail{
padding-top: 15px;
display: block;
margin-bottom: 10px;
text-decoration: none;
color: black;
font-weight: 500;
font-size: 20px;

}



.footer__phone {
padding-top: 15px;
font-size: 30px;
font-family: TT Lakes;
font-weight: 700;
text-decoration: none;
color:black;

}



.footer__lang-btn {
padding-top: 50px;
background-color: white;
font-size: 16px;
border: none;
background: none;
margin-right: 10px;
cursor: pointer;
font-weight: 500;

}
